.details__wrapper {
  max-width: 400px;
  margin: 10em auto;
}
.form__item {
  margin-bottom: 1.6em;
}
label,
.ant-picker {
  z-index: 1051; /* Adjust this value as needed */
}
input {
  display: block;
  width: 100%;
}
.d-flex {
  display: flex !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}
.input__error input {
  border-color: red;
}
.error__feedback {
  color: red;
}
